header, main, footer {
    padding-left: 200px !important;
  }
 
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0 !important;
    }
  }

table {
  font-size: 11px !important;
}

thead {
  font-weight: bold;
}